<div class="container">

    <div class="my-3">
        <h1>About Us</h1>
    </div>

    <h2>
        Features of this website
    </h2>
            

    <p>
        This website provides real-time readings, historical data, alerts, and comparison tools.
    </p>
    <p>
        You can use this website to:
    </p>

    <ul>
        <li>Monitor the CO2, temperature and humdity levels in your farms</li>
        <li>Compare environmental levels over time to spot trends and better prepare for upcoming weather change</li>
        <li>Set up alerts to notify you when levels reach a certain threshold</li>
        <li>Compare levels in different locations</li>
    </ul>

    <h2>Contact information </h2>
    <p>If you have any questions about the monitoring system or this website, please contact us at rp.edu.sg</p>
        
    

</div>