<div class="container">

    <div class="my-3">
        <h2>DASHBOARD</h2>
    </div>
    <div class="my-3">
        <iframe width="450" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/2169150/charts/1?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=10&title=Humidity&type=line"></iframe>
        <iframe width="450" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/2169150/charts/2?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=10&title=Temperature&type=line"></iframe>
    </div>
    <div class="my-3">
        <iframe width="450" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/2169150/charts/3?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=10&title=Co2+Levels&type=line"></iframe>
    </div>  

</div>