<div class="container border-bottom">
    <nav class="navbar navbar-expand-md">
        <div class="container-fluid">

            <img src="~/images/Plant.png" height="50">

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="d-flex justify-content-between w-100">
                    <div>
                        <ul class="nav navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Account" asp-action="Profile">Profile</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" role="button"
                                   href="#" id="navbarDropdown" data-bs-toggle="dropdown">
                                    Visualisations
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item bi bi-list" asp-controller="Monitoring" asp-action="TempHumidChart"> TempHumidChart</a></li>
                                    <li><a class="dropdown-item bi bi-list" asp-controller="Monitoring" asp-action="CO2Chart"> CO2Chart</a></li>
                                    <li><a class="dropdown-item bi bi-list" asp-controller="Monitoring" asp-action="Dashboard"> OnlineDashboard</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Monitoring" asp-action="About">About</a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <ul class="nav navbar-nav">
                            <li span class="nav-item">
                                <div class="nav-link">
                                    Welcome @User.Identity!.Name
                                    <a class="bi-box-arrow-right text-decoration-none text-muted" asp-controller="Account"
                                       asp-action="Logoff" data-toggle="tooltip" title="Log out"></a>
                                </div>
                            </li>
                        </ul> 
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>
